.screen{
    max-width: 90%;
    min-height:100px;
    background-color: antiquewhite;
    padding-right: 5px;
    margin:10px auto 0px auto;
    border-style: ridge;
}
.screenResult{
    
    background-color: antiquewhite;
    border:none;
    float: right;
    text-align: right;
    font-size: 1.8em;
    width: 100%;
    letter-spacing: 1px;
    
}
.symbol {
    padding-top: 30px;
    height: 20px;
    float: left;
    text-align: left;
    font-size: 1.5em;
    width: 20px;
    padding-left: 10px;
    color:red;
}

.preValue{
    background-color: antiquewhite;
    border:none;
    height: 20px;
    width:100%;
    text-align: right;
    width: 200px;
    float: right;
    color: #aaa;
    padding-top: 05px;
    font-size: 1.3em;
}

.column-3{
    width: 75%;
    float: left;
    
} 

.column-2{
   width: 50%;
   float: left; 
}

.column-1{
  width: 25%;
  float: left;  
}


button.calc-button{
    width: 100%;
    height: 70px;
    border: 2px solid #ddd;
    background:dimgrey;
    font-size: 32px;
    color:lightgreen;
    }
